<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mg.activities">

    <uses-permission android:name="android.permission.INTERNET" android:requiredFeature="App Communcations" />
    <uses-permission android:name="android.permission.CAMERA" android:requiredFeature="Required or QR Reader" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:requiredFeature="Required to open contents"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:requiredFeature="Required to download contents" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".PostLogin" />
        <activity android:name=".MapsTask" />
        <activity android:name=".SQLiteTask" />
        <activity android:name=".QRTask" />
        <activity android:name=".DownloadTask"></activity>
    </application>

</manifest>